{
    "MinMax": {
        "_type": "MinMax",
        "allow-none": false,
        "features": ["state;switch"],
        "model-file": "./model",
        "preprocessors": [
            {"method" : "Mean", "features" : ["state;4:PID Setpoint", "length"]}
        ],
        "save-training": null,
        "threshold": 0,
        "trainon": 1.0
    }
}
