{
    "Kitsune": {
        "_type": "Kitsune",
        "features_regexp": {
            "datagramSize": [
                "length",
                "(.*)"
            ],
            "dstIP": [
                "dest",
                "(\\d+\\.\\d+\\.\\d+\\.\\d+)"
            ],
            "dstMAC": [
                "dest",
                "([abcdef\\d][abcdef\\d]\\.[abcdef\\d][abcdef\\d]\\.[abcdef\\d][abcdef\\d]\\.[abcdef\\d][abcdef\\d]\\.[abcdef\\d][abcdef\\d]\\.[abcdef\\d][abcdef\\d])"
            ],
            "dstPort": [
                "src",
                "\\d+\\.\\d+\\.\\d+\\.\\d+:(\\d+)"
            ],
            "srcIP": [
                "src",
                "(\\d+\\.\\d+\\.\\d+\\.\\d+)"
            ],
            "srcMAC": [
                "src",
                "([abcdef\\d][abcdef\\d]\\.[abcdef\\d][abcdef\\d]\\.[abcdef\\d][abcdef\\d]\\.[abcdef\\d][abcdef\\d]\\.[abcdef\\d][abcdef\\d]\\.[abcdef\\d][abcdef\\d])"
            ],
            "srcPort": [
                "src",
                "\\d+\\.\\d+\\.\\d+\\.\\d+:(\\d+)"
            ],
            "timestamp": [
                "timestamp",
                "(.*)"
            ]
        },
        "fm_grace_period": 10000,
        "hidden_ratio": 0.75,
        "lambdas": [
            5,
            3,
            1,
            0.1,
            0.01
        ],
        "learning_rate": 0.1,
        "max_autoencoder_size": 10,
        "max_host": 10000000000,
        "max_sess": 10000000000,
        "model-file": "./model",
        "offset_live_timestamps": true,
        "stats": [
            {
                "features": {
                    "ID1": [
                        "srcMAC",
                        "srcIP"
                    ],
                    "t1": "timestamp",
                    "v1": "datagramSize"
                },
                "limit": "mac_hostlimit",
                "name": "MIstat",
                "type": "1D",
                "typediff": false
            },
            {
                "features": {
                    "ID1": [
                        "srcIP"
                    ],
                    "ID2": [
                        "dstIP"
                    ],
                    "t1": "timestamp",
                    "v1": "datagramSize"
                },
                "limit": "hostlimit",
                "name": "HHstat",
                "type": "1D2D",
                "typediff": false
            },
            {
                "features": {
                    "ID1": [
                        "srcIP",
                        "dstIP"
                    ],
                    "t1": "timestamp",
                    "v1": "_zero"
                },
                "limit": "hostlimit",
                "name": "HHstat_ji",
                "type": "1D",
                "typediff": true
            },
            {
                "features": {
                    "ID1": [
                        "srcIP",
                        "srcPort"
                    ],
                    "ID2": [
                        "dstIP",
                        "dstPort"
                    ],
                    "t1": "timestamp",
                    "v1": "datagramSize"
                },
                "limit": "sessionlimit",
                "name": "HpHpstat",
                "type": "1D2D",
                "typediff": false
            }
        ],
        "threshold": 10
    }
}
