{
    "SVM": {
        "C": [
            0.1,
            1,
            10,
            100,
            1000
        ],
        "_type": "SVM",
        "allow-none": false,
        "break_ties": [
            false
        ],
        "cache_size": [
            1024
        ],
        "class_weight": [
            null,
            "balanced"
        ],
        "coef0": [
            0.0
        ],
        "decision_function_shape": [
            "ovr",
            "ovo"
        ],
        "degree": [
            3
        ],
        "features": [],
        "gamma": [
            1,
            0.1,
            0.01,
            0.001,
            "auto",
            "scale"
        ],
        "jobs": 4,
        "kernel": [
            "rbf",
            "linear",
            "sigmoid",
            "poly"
        ],
        "max_iter": [
            -1
        ],
        "model-file": "./model",
        "no-probability": false,
        "preprocessors": [],
        "random_state": [
            null
        ],
        "save-training": null,
        "scoring": null,
        "shrinking": [
            true
        ],
        "tol": [
            0.001
        ],
        "trainon": 1.0,
        "verbose": 10
    }
}
