{
    "NaiveBayes": {
        "_type": "NaiveBayes",
        "allow-none": false,
        "features": [],
        "model-file": "./model",
        "nb-classifier": "Gaussian",
        "no-probability": false,
        "preprocessors": [],
        "save-training": null,
        "trainon": 1.0
    }
}
