{
    "InvariantRules": {
        "_type": "InvariantRules",
        "actuators": [],
        "discrete_threshold": 10,
        "eps": 0.01,
        "gamma_value": 0.9,
        "keyArray": [
            []
        ],
        "max_comp": 4,
        "max_k": 4,
        "merge_rules": 1,
        "mode": 2,
        "model-file": "./model",
        "negated_states": 0,
        "parallel_filter": true,
        "sigma": 1.1,
        "theta_value": 0.08
    }
}
