{
    "Histogram": {
        "_type": "Histogram",
        "allow-none": false,
        "discrete_threshold": 10,
        "features": [],
        "model-file": "./model",
        "preprocessors": [],
        "save-training": null,
        "threshold": 1.0,
        "trainon": 1.0,
        "window_size": 100
    }
}
