{
    "TABOR": {
        "RTI_MIN_DATA": 3,
        "_type": "TABOR",
        "actuators": [],
        "adjust": true,
        "bins": 4,
        "bn_sensor_bins": {},
        "cut-letter": "1",
        "denoising-window": 30,
        "fixed-bins": null,
        "main-sensor": null,
        "model-file": "./model",
        "num-deviation": 10,
        "ooa-constants": {},
        "ooa-type": {},
        "segment-error": null,
        "sensors": []
    }
}
