{
    "Seq2SeqNN": {
        "_type": "Seq2SeqNN",
        "aggregate": 300,
        "alertratio": 20.0,
        "allow-none": false,
        "batch_size": 4096,
        "cutoff": 60,
        "epochs": 150,
        "evaluation_norm_p": 4,
        "features": [],
        "gpu": "cpu",
        "hidden_cells": 64,
        "highpercentile": 90,
        "lowpercentile": 20,
        "model-file": "./model",
        "n_hidden_cells": 64,
        "nn-model": null,
        "preprocessors": [],
        "save-intermediate-models": false,
        "save-training": null,
        "threads": 4,
        "trainon": 1.0,
        "treshold": 0.3,
        "window_given": 90,
        "window_predict": 9,
        "window_size": 100
    }
}
