{
    "MinMax": {
        "_type": "MinMax",
        "allow-none": false,
        "features": ["state;switch"],
        "model-file": "./model",
        "preprocessors": [],
        "save-training": null,
        "threshold": 0,
        "trainon": 1.0
    },
    "Gradient": {
        "_type": "MinMax",
        "allow-none": false,
        "features": ["state;switch"],
        "model-file": "./model",
        "preprocessors": [{"method": "Gradient", "features": ["state;switch"]}],
        "save-training": null,
        "threshold": 0,
        "trainon": 1.0
    },
    "Histogram": {
        "_type": "Histogram",
        "allow-none": false,
        "bins": 10,
        "features": [],
        "model-file": "./model",
        "preprocessors": [],
        "save-training": null,
        "threshold": 0,
        "trainon": 1.0,
        "window_size": 5
    }
}
