{
    "IsolationForest": {
        "_type": "IsolationForest",
        "allow-none": false,
        "bootstrap": false,
        "contamination": "auto",
        "features": ["state;switch"],
        "max_features": 1,
        "max_samples": "auto",
        "model-file": null,
        "n_estimators": 100,
        "preprocessors": [],
        "random_state": null,
        "save-training": null,
        "trainon": 1.0,
        "warm_start": false
    }
}
