{
    "SVM": {
        "C": [
            1
        ],
        "_type": "SVM",
        "allow-none": false,
        "break_ties": [
            false
        ],
        "cache_size": [
            1024
        ],
        "class_weight": [
            null
        ],
        "coef0": [
            0.0
        ],
        "decision_function_shape": [
            "ovr"
        ],
        "degree": [
            3
        ],
        "features": ["state;switch"],
        "gamma": [
            "auto"
        ],
        "jobs": 4,
        "kernel": [
            "rbf"
        ],
        "max_iter": [
            -1
        ],
        "model-file": "./model",
        "preprocessors": [],
        "random_state": [
            null
        ],
        "save-training": null,
        "scoring": null,
        "shrinking": [
            true
        ],
        "tol": [
            0.001
        ],
        "trainon": 1.0,
        "verbose": 0,
        "no-probability": true
    }
}
