{
    "IDS": [
        {
            "name": "ExtraIDS",
            "path": "./extra_ids.py"
        }
    ],
    "Combiner": [
        {
            "name": "Extra",
            "path": "./extra_combiner.py"
        }
    ],
    "Preprocessor": [
        {
            "name": "Extra",
            "path": "./extra_preprocessor.py"
        }
    ]
}