{
    "ExtraIDS": {
        "_type": "ExtraIDS",
        "model-file": "./model",
        "features": [],
        "preprocessors": [
            {"method" : "Extra", "features" : ["type"]}
        ],
        "trainon": 1.0,
        "save-training": null,
        "allow-none": false,
        "threshold": 1.0,
        "discrete_threshold": 10
    }
}